.App{
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.input-section{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px 150px;
  background-color: cornflowerblue;
}
.head-title{
  text-align: center;
}
.todo-list{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px 150px;
}
.todo{
  display:flex;
  justify-content: space-around;
}
.task-title{
  width: 400px;
  height: 40px
}